
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href=" {% static 'assets/vendor/simplebar.min.css'%}  " rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href=" {% static 'assets/css/app.css' %} " rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/app.rtl.css' %} " rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href=" {% static 'assets/css/vendor-material-icons.css' %} " rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133433427-1');
</script>


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '327167911228268');
  fbq('track', 'PageView');
</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=327167911228268&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->



    <!-- Flatpickr -->
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr.rtl.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr-airbnb.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr-airbnb.rtl.css' %}" rel="stylesheet">

    <!-- Vector Maps -->
    <link type="text/css" href="{% static 'assets/vendor/jqvmap/jqvmap.min.css' %}" rel="stylesheet">



</head>

<body class="layout-default">




 <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings layout-active="default" :layout-location="{
      'default': 'index.html',
      'fixed': 'fixed-dashboard.html',
      'fluid': 'fluid-dashboard.html',
      'mini': 'mini-dashboard.html'
    }"></app-settings>
    </div>

    <!-- jQuery -->
    <script src="{% static 'assets/vendor/simplebar.min.js' %} "></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'assets/js/dropdown.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- App Settings (safe to remove) -->
    <script src="{% static 'assets/js/app-settings.js' %}"></script>



    <!-- Flatpickr -->
    <script src="{% static 'assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/js/flatpickr.js' %}"></script>

    <!-- Global Settings -->
    <script src="{% static 'assets/js/settings.js' %}"></script>

    <!-- Chart.js -->
    <script src="{% static 'assets/vendor/Chart.min.js' %}"></script>

    <!-- App Charts JS -->
    <script src="{% static 'assets/js/charts.js' %}"></script>

    <!-- Chart Samples -->
    <script src="{% static 'assets/js/page.dashboard.js' %}"></script>

    <!-- Vector Maps -->
    <script src="{% static 'assets/vendor/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'assets/js/vector-maps.js' %}"></script>
</body>